<!--

    :root{--white:white;
              --header-white:rgba(255, 255, 255, .75);
              --background-color:#fdfdfd;
              --default-color:#101010;
              --heading-color:#0A0A0A;
              --link-color:#2A2A2A;
              --gray-highlight-color:#aaaaaa;
              --highlight-color:#2861ce}
              @media(prefers-color-scheme:dark)
                {:root{--white:#020202;
                      --header-white:rgba(2, 2, 2, .75);
                      --background-color:#222222;
                      --default-color:#efefef;
                      --heading-color:#f5f5f5;
                      --link-color:#d5d5d5;
                      --gray-highlight-color:#555555}}
                      main{max-width:1200px;margin:0 auto;padding:0 10px}
                      @media(min-width:800px)
                      {article{max-width:760px;margin:0 auto;padding:0 10px}}html{position:relative;min-height:100%;margin:0;padding:0}
                      body{font-family:serif;font-size:18px;line-height:1.6em;color:var(--default-color);background-color:var(--background-color);width:100%;padding:0;margin:0}
                      main{margin-bottom:75px}h1,h2,h3,h4,h5,h6{font-family:sans-serif;font-weight:700;line-height:1.15em;
                      color:var(--heading-color);margin:0 0 .4em}h1{font-size:2em}a{color:var(--link-color);
                      transition:color ease .3s}a:hover{color:var(--highlight-color)}a:focus{outline:none}br{margin:1em}
                      article p,article ul,article ol,article dl{hyphens:auto;text-align:justify}span i{white-space:nowrap;padding:.5em;margin-left:1em}nav ul li a{display:block}header#page-header nav{width:100%;margin:0;margin-bottom:2em;display:flex;flex-direction:column;
                      justify-content:center;align-items:center;font-family:sans-serif}header#page-header nav .background{position:relative;z-index:10;margin:0;padding:0;width:100%}
                      @media(min-width:900px) and (min-height:600px){header#page-header nav .background{height:200px;background-image:linear-gradient(to bottom,rgba(0,0,255,0) 90%,
                      var(--highlight-color) 100%),url(/images/background.jpg);background-repeat:no-repeat;background-position:50%;background-size:cover}}
                      @media(max-width:900px),(max-height:600px){header#page-header nav .background{box-sizing:border-box;box-shadow:0 2.5px 5px 0 var(--highlight-color)}}
                      header#page-header nav div{display:flex;flex-direction:column;justify-content:center;align-items:center;padding:1em}
                      header#page-header nav div h2{font-weight:initial}
                      
                      @media(min-width:900px) and (min-height:600px){header#page-header nav div{background-color:var(--header-white)}}
                      @media(max-width:900px),(max-height:600px){header#page-header nav div{padding:.5em;flex-direction:row}header#page-header nav div h1{font-size:1.5em;margin-right:1em}
                      header#page-header nav div h2{font-size:1.25em}}
                      @media(max-width:500px){header#page-header nav div h1{margin-right:0}header#page-header nav div h2{display:none}}
                      header#page-header nav #home-button{position:fixed;top:10px;left:10px;z-index:5;padding:5px;font-size:2em}
                      @media(max-width:1500px){header#page-header nav #home-button{display:none}}header#page-header nav a{text-decoration:none}footer#page-footer{position:absolute;bottom:0;
                      left:0;right:0;height:2em;display:flex;justify-content:space-between;font-size:.8em;font-weight:200;line-height:1em;border-top:1px solid #ccc}footer#page-footer 
                      section{padding-left:1em;padding-right:1em;padding-top:.5em;width:100%}footer#page-footer .copyright{text-align:left}footer#page-footer 
                      .patreon{text-align:center}footer#page-footer .poweredby{text-align:right}
                      
                      @media(max-width:450px){footer#page-footer{flex-direction:column;align-items:flex-start}footer#page-footer section{text-align:initial!important;width:initial}}p img{max-width:100%;display:block;background:var(--gray-highlight-color);text-align:center}p img:after{display:block;content:"(broken image)"}blockquote{padding:0 0 0 1.5em;margin-left:0;border-left:.5em solid var(--gray-highlight-color)}blockquote p{padding-top:2px;padding-bottom:10px;opacity:.8}table{background-color:var(--white);margin:0 auto;border-collapse:collapse}table th,table td{padding:5px;border:var(--gray-highlight-color)1px solid}table th{color:var(--highlight-color)}code{font-family:Inconsolata,monospace,sans-serif}:not(pre)>code{margin:3px;background:var(--white);box-shadow:0 0 0 1px var(--gray-highlight-color)}pre{overflow:auto;padding:10px;background:var(--white);border:1px solid var(--gray-highlight-color);line-height:1.1}.highlight{}.highlight 
                      
-->